# DATA115 Week 5 Database Queries
**Brian Roepke**

https://realpython.com/python-sql-libraries/

In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [3]:
connection = create_connection("week-5.db")

Connection to SQLite DB successful

## Create Tables
For this example, a SQLite database was used.  The data types are simplified from other databases providers, limited to INTEGER, REAL, TEXT, and BLOB.  Other databases may use more complex type definitions, however the SQL query is similar, just changing the type definitions to match the provider’s supported types.  Primary keys and Foreign keys are designated per the schema design

In [4]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [5]:
create_students = """
CREATE TABLE "STUDENTS" (
 "ID" INTEGER NOT NULL UNIQUE,
 "FirstName" TEXT,
 "LastName" TEXT,
 "MiddleName" TEXT,
 "EmailStudent" TEXT,
 "EmailPersonal" TEXT,
 "PrimaryPhone" TEXT,
 "Active" INTEGER,
 "DegreeID" INTEGER,
 PRIMARY KEY("ID" AUTOINCREMENT),
 FOREIGN KEY("DegreeID") REFERENCES "DEGREE"("ID")
);"""

execute_query(connection, create_students)

Query executed successfully

In [6]:
create_courses = """
CREATE TABLE "COURSES" (
    "ID" INTEGER NOT NULL UNIQUE,
    "Code" TEXT,
    "Name" TEXT,
    "Units" INTEGER,
    "Location" INTEGER,
    "Level" INTEGER,
    PRIMARY KEY("ID" AUTOINCREMENT)
);"""

execute_query(connection, create_courses)

Query executed successfully

In [7]:
create_degrees = """
CREATE TABLE "DEGREE" (
 "ID" INTEGER NOT NULL UNIQUE,
 "Name" TEXT,
 "Level" TEXT,
 "Units" INTEGER,
 PRIMARY KEY("ID" AUTOINCREMENT)
);"""

execute_query(connection, create_degrees)

Query executed successfully

## Insert Data
The following queries to insert entires into the GGU Student table, and our course to the GGU course and your Degree to the GGU Degrees.  It’s assumed for all the above examples that the ID column is set to AUTOINCREMENT as shown in the initial table creation, therefore is omitted from the INSERT statement

In [8]:
insert_students = """
INSERT INTO
    STUDENTS ("FirstName", "LastName", "MiddleName", "EmailStudent", "EmailPersonal", "PrimaryPhone", "Active", "DegreeID")  
VALUES
  ('Bart', 'Simpson', 'JoJo', 'bart@my.ggu.edu', 'bart@hotmail.com', '(555) 123-1234', 1, 1),
  ('Lisa', 'Simpson', 'Marie', 'lisa@my.ggu.edu', 'lisa@hotmail.com', '(555) 123-1234', 1, 1),
  ('Meg', 'Griffin', '', 'meg@my.ggu.edu', 'meg@gmail.com', '(999) 999-9999', 1, 1),
  ('Christopher', 'Griffin', 'Cross', 'chris@my.ggu.edu', 'chris@gmail.com', '(999) 999-9999', 1, 2);
"""

execute_query(connection, insert_students)

Query executed successfully

In [9]:
insert_courses = """
INSERT INTO
    COURSES ("Code", "Name", "Units", "Location", "Level") 
VALUES
    ('DATA110', 'Machine Learning', 3, 'Online', 'Undergraduate'),
    ('DATA115', 'Relational Databases', 3, 'Online', 'Undergraduate'),
    ('HUM50', 'Humanities', 3, 'Online', 'Undergraduate'),
    ('MSBA328', 'Visualization and Communications', 3, 'Mixed', 'Graduate'),
    ('MSBA305', 'Business Intelligence', 3, 'In Person', 'Graduate');
"""

execute_query(connection, insert_courses)

Query executed successfully

In [10]:
insert_degrees = """
INSERT INTO
    DEGREE ("Name", "Level", "Units")
VALUES
    ('BS DA', 'Undergraduate', 123),
    ('MS BA', 'Graduate', 36);
"""

execute_query(connection, insert_degrees)

Query executed successfully

## Select Data
The following queries select the number of active students at GGU, as well as number of courses at GGU, and number of Degrees.

In [11]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [12]:
select_students = "SELECT COUNT(ID) FROM STUDENTS WHERE Active = 1"
students = execute_read_query(connection, select_students)

print(f"The number of Students is {students[0][0]}")

The number of Students is 4

In [13]:
select_courses = "SELECT COUNT(ID) FROM COURSES"
courses = execute_read_query(connection, select_courses)

print(f"The number of Courses is {courses[0][0]}")

The number of Courses is 5

In [14]:
select_degrees = "SELECT COUNT(ID) FROM DEGREE"
degrees = execute_read_query(connection, select_degrees)

print(f"The number of Degrees is {degrees[0][0]}")

The number of Degrees is 2